@import './footer.scss';

$text-color: orange;

@mixin set-margin($direction, $value) {
    margin-#{$direction}: $value;
}

body{
    color: aqua;
    color: $text-color;
}

.content{
    .title{
        font-size: 12px;
    }
    .titel-lg{
        @extend .title;
        font-size: 32px;
    }
    @include set-margin(right, 16px);
}

